/* Change divs to have background color of #222222
 * Add gradient to main background?
 * */

body {
	background-color: #232B32;
	font-family: Verdana, Trebuchet, sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid white;
}

nav:hover {
	background-color: #152028;
}

.home-logo {
	position: fixed;
	left: 10px;
	top: 0px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	margin-right: 10px;
	padding: 0;
	overflow: hidden;
	float: right;
}

nav li {
	float: left;
}

nav a {
	display: block;
	text-align: center;
	padding: 25px 16px;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #00A8CCDD;
}

.main-content {
	margin: 50px auto 0px;
	max-width: 1400px;
	min-width: 1000px;
}

.main-page {
	padding-top: 40px;
}

.main-page p {
	line-height: 30px;
}

.main-page, .section {
	padding-left: 50px;
	padding-right: 50px;
}

.section {
	border-bottom: 1px solid white;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-header {
	flex: 0 0 100%;
	text-align: center;
}

.section-half {
	flex: 45%;
	max-width: 600px;
}

.section-half p {
	margin-right: 40px;
}

.section-quarter
{
	flex: 20%;
	max-width: 267px;
}

.section-quarter img
{
	width: 100%;
	border-radius: 10px;
}

.section-spacer {
	margin-left: 5%;
}

.project-preview {
	/*max-width: 800px;*/
}

.radius-15
{
	width: 100%;
	border-radius: 15px;
}

.hover-scale
{
	transition: transform .2s;
}

.hover-scale:hover
{
	transform: scale(1.01);
}

img 
{
	margin-top: 25px;
}

h1 {
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	font-size: 35px;
	margin-top: 0px;
}

h3 {
	font-size: 24px;
}

h1, h2, h3 {
	font-style: italic;
	font-variant: small-caps;
}

footer {
	position: relative;
	width: 100%;
	border-top: 1px solid white;
}

#contact {
	float: right;
	padding-right: 30px;
}

.btt {
	position: absolute;
	bottom: 0;
	padding: 15px 15px;
	text-decoration: none;
	color: white;
}

.btt:visited {
	color: white;
}
